.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

#main-header{
    text-align: center;
}

h2, h3{
    color: cornflowerblue;
    text-decoration: underline;
}

body{
    background-color: lightgrey;
    font-family:Futura;
}

body{
    background-image: url("../img/simple-pattern-with-css3.png");
    background-size: cover;
}

ul li{
    list-style-type: circle;
}

table tr td{
    font-size: 18px;
    margin: 30px;
}

a:visited{
color:orange;
}

a:hover{
    color:black;
}

a:active{
    color:purple;
}

a:link{
    color:blue;
}
