.contacts{
    text-align: center;
}

#contact-list{
    border-bottom: 3px solid limegreen;
    margin-bottom: 30px;
}

.left-side-details{
    margin-bottom: 20px;
}

.right-side-details{
    margin-bottom: 20px;
}