::placeholder{
    color: white;
    text-align: center;
}




#map{
    width: 100%;
    height: 375px;
    border: 2px solid black;
}

#weather-icon{
    height: 80px;
    width: 80px;
}

#coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: block;
}
body{
    background-image: linear-gradient(#1284a6, #ffffff);
}

#navbar{
    max-width: 100%;
    background-color: rgba(44, 96, 164, 0.91);
    max-height: 80px;
}

#weather-location{
    font-size: 18px;
    color: white;
}

#nav-title{
    font-size: 28px;
    color: white;
}

#search-bar, #weather-location{
    text-align: center;
}

#search-city{
    width: 320px;
    border-radius: 15px;
    background-color: rgb(72, 149, 169);
    border: 1px solid #4895a9;
    color: white;
    text-align: center;
}

#submit{
    width: 20px;
    height: auto;
    position: relative;
    right: 35px;
    top: 3px;
}

